<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75a3bc">  <td>19/11/15 00:56:16</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;VerifySeleniumTest.closeBrowser()[pri:0, instance:question2.tests.VerifySeleniumTest@5d5eef3d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>19/11/15 00:55:47</td>   <td>-28583</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:question2.tests.VerifySeleniumTest@5d5eef3d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/11/15 00:56:04</td>   <td>-12111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifySeleniumTest.verifyWWSampleTest()[pri:0, instance:question2.tests.VerifySeleniumTest@5d5eef3d]">verifyWWSampleTest</td> 
  <td>main@1047503754</td>   <td></td> </tr>
</table>
